
useDynLib(CDT, .registration = TRUE)

export(startCDT, cdtInterp, distance.Matrix)
export(regression.Vector, regression.Matrix)
export(download.oni.cpc.ncep.noaa, oni.cpc.ncep.noaa, oni.iridl.ldeo)
export(cdtMergingPrecipCMD, cdtMergingTempCMD, cdtBiasCorrectPrecipCMD, cdtBiasCorrectTempCMD)
export(cdtCrossValidationPrecipCMD, cdtCrossValidationTempCMD)
export(jra55.send.request, jra55.format.ncdf)
export(merging.options, biascoeff.options, blanking.options)
export(readCDTStationData, writeCDTStationData, matchCDTStationsData, matchCDTStationsIDs)
export(extractGeomPoints, extractGeomPolys, extractGeomRect)
export(plotMultipleData)
export(cdtComputeSeasonal_cdtstn, cdtComputeSeasonal_netcdf)
export(cdtENSOAnalysis_netcdf)
export(install_wgrib)
export(convert2CPTFormat)

importFrom("methods", "as", "is", "slot")
importFrom("graphics", "abline", "arrows", "axTicks", "axis",
           "axis.Date", "barplot", "box", "layout", "legend", "lines",
           "mtext", "par", "plot.new", "points", "polygon", "curve",
           ".filled.contour", "grconvertX", "grconvertY", "segments",
           "image", "plot", "title", "axis.POSIXct", "rect", "text",
           "plot.window")
importFrom("grDevices", "colorRampPalette")
importFrom("ncdf4", "ncdim_def", "nc_open", "ncvar_get", "nc_close",
           "ncvar_def", "nc_create", "ncvar_put", "ncatt_get")
importFrom("sp", "over", "bbox", "CRS", "geometry",
           "SpatialPoints", "SpatialPixels",
           "coordinates", "coordinates<-",
           "proj4string", "proj4string<-",
           "SpatialPolygonsDataFrame")
importFrom("stats", "sd", "var", "cor", "cov", "quantile", "lm",
           "glm", "update", "ecdf", "median", "residuals", "as.formula",
           "formula", "qnorm", "pnorm", "dnorm", "pgamma", "qgamma", "predict")

importFrom(latticeExtra, xyplot.list)

importFrom(jsonlite, fromJSON, toJSON, write_json)
importFrom(stringr, str_trim, str_pad, str_count, str_to_title)
importFrom(utils, read.table, write.table)
importFrom(qmap, startberngamma, pberngamma, dberngamma, qberngamma)
importFrom(automap, autofitVariogram)
importFrom(doParallel, registerDoParallel)
importFrom(doSNOW, registerDoSNOW)
