* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* navbar */

.navbar-inverse .navbar-nav li a {
    color: white !important;
    font-size: 0.8em !important;
}

.nav .dropdown-menu li a {
    color: black !important;
    font-size: 0.9em !important;
}


/* footer */

.footer {
    float: right;
    margin: 2px 0;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
}

.navbar-footer>img {
    height: 45px;
    padding: 1px;
    width: auto;
}

.fluid-row {
    /*display: none;*/
    visibility: hidden;
}


/******Table*******/

#cdtInputData {
    border-collapse: collapse;
    border: 1px solid #839E99;
    background: #f1f8ee;
    /*font: 1.0em/1.2em Georgia, "Times New Roman", Times, serif;*/
    color: #033;
}

#cdtInputData td {
    text-align: right;
    line-height: 1.3em;
}

.cdtInputData0 td {
    padding: 3px 3px .75em 3px;
}

.cdtInputData0 caption {
    font-size: 1.1em;
    font-weight: bold;
    /*text-align: left;*/
    padding: 1em 4px;
}

.cdtInputData1 td {
    padding: 3px 10px .75em 10px;
}

#onestnseries .cdtInputData1 {
    /*display: inline-block;*/
    float: left;
    width: 30%;
    margin: 0 20px;
}

#clearleft {
    clear: left;
}


/***** blockquote ****/

blockquote {
    font-size: 1em;
    background: #fcfcfc;
}

blockquote code {
    background: #fff8e6;
    font-size: 1.2em;
}


/******* tags *********/

span.menuselection {
    font-size: 1.1em;
    font-weight: bold;
    border: 1px dashed #ddd;
    background: #eee;
    color: #217AEC;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
}

#cdtIcons {
    width: 1.2em;
    height: 1.2em;
}

#cdtIconsBr {
    width: 2.2em;
    height: 1.5em;
}

.cdtIcons1 {
    background: #add8e6;
}

.cdtIcons2 {
    background-color: #ff0000;
    border-style: solid;
    border-color: #ff0000;
    border-width: 1px;
    background-image: -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%), -moz-linear-gradient(-45deg, #ffffff 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #ffffff 75%), -moz-linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ffffff), color-stop(.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ffffff), color-stop(.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ffffff)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ffffff));
    background-image: -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%), -webkit-linear-gradient(-45deg, #ffffff 25%, transparent 25%), -webkit-linear-gradient(45deg, transparent 75%, #ffffff 75%), -webkit-linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    background-image: -o-linear-gradient(45deg, #ffffff 25%, transparent 25%), -o-linear-gradient(-45deg, #ffffff 25%, transparent 25%), -o-linear-gradient(45deg, transparent 75%, #ffffff 75%), -o-linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%), linear-gradient(-45deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ffffff 75%), linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    -moz-background-size: 2px 2px;
    background-size: 2px 2px;
    -webkit-background-size: 2px 2.1px;
    background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
}

.cdtIcons2a {
    background-color: #ff0000;
}

span.buttonclass {
    font-size: 0.9em;
    background-color: #e6e6e6;
    /*font-weight: bold;*/
    padding: 3px 3px;
    border-style: solid;
    border-color: #f2f2f2 #d9d9d9 #d9d9d9 #f2f2f2;
    white-space: nowrap;
}

span.ongletclass {
    background-color: #e6e6e6;
    /*font-weight: bold;*/
    padding: 1px 3px;
    border-style: solid solid none solid;
    border-color: #f2f2f2 #d9d9d9 #d9d9d9 #f2f2f2;
    border-radius: 10px 10px 0px 0px;
}

span.dropdclass {
    font-size: 0.7em;
    background-color: #e6e6e6;
    padding: 0px 2px;
    border-style: solid solid solid none;
    border-color: #f2f2f2 #bfbfbf #bfbfbf #ffffff;
}

span.dropdlistclass {
    font-size: 0.7em;
    background-color: #ffffff;
    color: #ffffff;
    padding: 0px 2px;
    border-style: inset none inset inset;
    border-color: #e6e6e6;
}

img.radiochckbutclass {
    width: 1.25em;
    height: 1.3em;
    margin-bottom: 3px;
}

span.radiochcktextclass {
    /*font-size: 1.0em;*/
    background-color: #d9d9d9;
    padding: 1px 8px 1px 1px;
}


/* ######################################## */

.dotted0 {
    padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}

.dotted1 {
    background-color: #ff0000;
    border-style: solid;
    border-color: #ff0000;
    border-width: 1px;
    /* padding: 2.25em 1.6875em; */
    background-image: -webkit-repeating-radial-gradient(center center, #ffffff, #ffffff 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #ffffff, #ffffff 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #ffffff, #ffffff 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #ffffff, #ffffff 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}


/* http://stackoverflow.com/questions/13607117/css-css3-pixelate-dot-background */

.dotted2 {
    background-color: #ff0000;
    border-style: solid;
    border-color: #ff0000;
    border-width: 1px;
    background-image: -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%), -moz-linear-gradient(-45deg, #ffffff 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #ffffff 75%), -moz-linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ffffff), color-stop(.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ffffff), color-stop(.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ffffff)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ffffff));
    background-image: -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%), -webkit-linear-gradient(-45deg, #ffffff 25%, transparent 25%), -webkit-linear-gradient(45deg, transparent 75%, #ffffff 75%), -webkit-linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    background-image: -o-linear-gradient(45deg, #ffffff 25%, transparent 25%), -o-linear-gradient(-45deg, #ffffff 25%, transparent 25%), -o-linear-gradient(45deg, transparent 75%, #ffffff 75%), -o-linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%), linear-gradient(-45deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ffffff 75%), linear-gradient(-45deg, transparent 75%, #ffffff 75%);
    -moz-background-size: 2px 2px;
    background-size: 2px 2px;
    -webkit-background-size: 2px 2.1px;
    /* override value for webkit */
    background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
}

.stripped {
    padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, .3) 3px);
    background-image: -moz-repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, .3) 3px);
    background-image: -o-repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, .3) 3px);
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, .3) 3px);
    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px;
}

#toc-index a {
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.toc-index-class h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1;
}

.toc-index-class h2 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1;
}

.toc-index-class h3 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1;
}

.toc-index-class h4 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1;
}

.toc-index-class h1:before {
    content: "\25b6";
    font-size: 7px;
    margin-right: 9px;
    padding-left: 5px;
}

.toc-index-class h2:before {
    content: "\00b7";
    font-size: 30px;
    margin-right: 9px;
    padding-left: 20px;
}

.toc-index-class h3:before {
    content: "\00b0";
    font-size: 15px;
    margin-right: 9px;
    padding-left: 35px;
}

.toc-index-class h4:before {
    content: "\00b0";
    font-size: 15px;
    margin-right: 9px;
    padding-left: 45px;
}

.img-caption {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-style: oblique;
}
